body {
    font-family: Arial, sans-serif;
    background-image: url("/static/asset/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 5% auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Input field styles */
.input-box {
    padding: 12px;
    font-size: 16px;
    border: 2px solid #333;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Button styles */
.predict-button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.predict-button:hover {
    background-color: #555;
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        padding: 15px;
    }
    
    .title {
        font-size: 20px;
    }

    .input-box {
        font-size: 14px;
    }

    .predict-button {
        font-size: 16px;
    }
}
