body {
    font-family: Arial, sans-serif;
    background-image: url("/static/asset/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 100px;
}
.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.input-box {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #333;
    border-radius: 5px;
    margin-right: 10px;
}
.predict-button {
    width: 40%;
    padding: 10px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}